<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="it.androidavanzato.fourwaynav">
    <uses-sdk android:minSdkVersion="11" />
    <application android:label="FourWayNav"
    android:icon="@drawable/icon">
        <activity android:name="it.androidavanzato.fourwaynav.NavActivity"
                  android:label="RsHelloWorld"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
